.config/gh
.tmux/plugins
.fzf
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/obsidian
.config/discord
.config/obs-studio/logs
.config/obs-studio/profiler_data
.config/lazygit/state.yml
.config/lazygit/state.yml
.config/lazygit/state.yml
.config/lazygit/state.yml
.config/thefuck/__pycache__/settings.cpython-311.pyc
.config/lazygit/state.yml
.config/lazygit/state.yml
.config/Kingsoft
.config/lazygit/state.yml
.config/Kingsoft
.config/lazygit/state.yml
.config/Kingsoft
.config/lazygit/state.yml
.config/Kingsoft
.config/lazygit/state.yml
.config/session
.config/kde.org
.config/dconf
.config/clipse
.config/clipse/clipboard_history.json
.config/lazygit/state.yml
.config/Electron
.config/go/telemetry/local
.config/obs-studio
.config/obs-studio
.config/obs-studio/basic/scenes
